@import "tailwindcss";
@import "tw-animate-css";

/* globals.css */

:root {
  --background-color: #121212;
  --background-secondary: #1E1E1E;
  --primary-color: #BB86FC;
  --primary-hover: #9B6FEF;
  --accent-color: #03DAC6;
  --accent-hover: #02C1AF;
  --text-color: #FFFFFF;
  --text-secondary: #B3B3B3;
  --input-bg: #2C2C2C;
  --dark-gray: #3C3C3C;
  --border-color: #444444;
}





body {
  background-color: var(--background-color);
  color: var(--text-color);
}

input,
textarea,
button {
  border-color: var(--border-color);
  background-color: var(--input-bg);
  color: var(--text-color);
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
  ring: 2px solid var(--primary-color);
}

h1, h2, h3, h4 {
  color: var(--text-color);
}

label {
  color: var(--text-secondary);
}

a {
  color: var(--primary-color);
}

/* Add a subtle gradient background option */
.gradient-bg {
  background: linear-gradient(120deg, #121826 0%, #192339 100%);
}

/* Button styles */
.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-accent {
  background-color: var(--accent-color);
  color: white;
}

.btn-accent:hover {
  background-color: var(--accent-hover);
}

.no-scrollbar {
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

